<?php

/* ENV */
define('ENV', 'dev');

/* ROOT */
define('DS', DIRECTORY_SEPARATOR);
define('ROOT', dirname(__FILE__));
define('URL', '/');
define('TITLE','MVC Stack');

/* DATABASE */
define('DB_CONNECTION', 'mysql');
define('DB_HOST', '127.0.0.1');
define('DB_USER', 'root');
define('DB_PASS', 'P@ssw0rd');
define('DB_NAME', 'mvcstack');

/* DEFAULT VALUES */
define('DEFAULT_CONTROLLER','Welcome');
define('DEFAULT_METHOD','index');
define('DEFAULT_LAYOUT','main');